@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --hex__background: #f5f5fa;
    --hex__overlay: #e9e9ed60;
    --hex__text: #292727;
    --hex__accent: #8dafff;
    
    --opacity__inactive: 50%;
    
    --height__nav-bar: 3.5rem;
}

html {
    font-family: "Karla", Karla, sans-serif;
}

body {
    min-height: 100vh;
    min-height: 100dvh;

    background-color: var(--hex__background, #faf4f4);
    color: var(--hex__text, #292727);
}

h1 {
    text-align: center;

    font-size: 4rem;
    width: 80%;
    margin: 0.5rem auto;
}

h2 {
    text-align: center;
    width: 80%;
    margin: 0.5rem auto;
}

p {
    text-align: center;
    width: 80%;
    margin: 0.5rem auto;
}

header {
    position: sticky;
    top: 1rem;
}

@keyframes nav-bar__appear {
    from {
        background-color: var(--hex__background);
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }
    to {
        background-color: var(--hex__overlay);
        backdrop-filter: blur(1rem);
        -webkit-backdrop-filter: blur(1rem);
    }
}

.nav-bar ul {
    animation: nav-bar__appear linear;
    animation-timeline: scroll();
    animation-range: 0 2rem;

    margin: 1rem auto;
    padding: 0;
    
    width: 50%;
    height: var(--height__nav-bar);

    list-style-type: none;

    background-color: var(--hex__overlay);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    border-radius: 2rem;

    overflow-y: hidden;
    overflow-x: scroll;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar li {
    margin: 0 0.7rem;
    padding: 0.5rem;
    transition-duration: 300ms;
    border-radius: 0.6rem;
}

.nav-bar li.active {
    opacity: 100%;
}

.nav-bar li.inactive {
    opacity: var(--opacity__inactive);
}

.nav-bar li a {
    display: inline-block;
    text-decoration: none;
}

.nav-bar a:link, a:visited {
    color: var(--hex__text);
}

.nav-bar li:hover {
    opacity: 100%;
    background-color: var(--hex__accent);
}

.nav-bar a:active {
    color: var(--hex__text);
}