@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --hex__background: #f5f5fa;
    --hex__overlay: #ffffff6e;
    --hex__text: #292727;
    --hex__accent: #fbb8bc;

    --hex__background1: #f39fb5;
    --hex__background2: #fbe0ea;
    --hex__background3: #ecd4c1;
    --hex__background4: #f9d6b9;

    --font-size__base: 3vw;
    --font-size__h1: clamp(4rem, var(--font-size__base) * 8, 8rem);
    --font-size__h2: clamp(1.5rem, var(--font-size__base) * 3, 3rem);
    --font-size__h3: clamp(1.25rem, var(--font-size__base) * 2, 2rem);
    --font-size__h4: clamp(1rem, var(--font-size__base) * 1.5, 1.5rem);
    --font-size__p: 1rem;
    --font-weight__h4: 500;

    --linear-gradient__background: linear-gradient(55deg, var(--hex__background4) 0%, var(--hex__background3) 51%, var(--hex__background2) 85%);
    
    --opacity__inactive: 50%;
    
    --width__heading: min(88vw, 800px);
    --width__readable-body: min(68vw, 700px);
    --width__project: min(72.9vw, 850px);
    --width__half-column: min(40vw, 700px);

    --height__nav-bar: 3.5rem;
}

@font-face {
    font-family: 'Gendy Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gendy Regular'), url('assets/fonts/Gendy.woff') format('woff');
}

img.logo.c {
    content: url("assets/svg/logos/logo__c.svg");
}

img.logo.cmake {
    content: url("assets/svg/logos/logo__cmake.svg");
}

img.logo.cpp {
    content: url("assets/svg/logos/logo__cpp.svg");
}

img.logo.css3 {
    content: url("assets/svg/logos/logo__css3.svg");
}

img.logo.html5 {
    content: url("assets/svg/logos/logo__html5.svg");
}

img.logo.javascript {
    content: url("assets/svg/logos/logo__javascript.svg");
}

img.logo.sdl2 {
    content: url("assets/svg/logos/logo__sdl.svg");
}


html {
    font-family: "Poppins", Poppins, sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
    /* min-width: 100vw;
    max-width: 100%; */
    width: 100%;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background: var(--linear-gradient__background);
    /* background-color: var(--hex__background, #faf4f4); */
    color: var(--hex__text, #292727);
    
}


.background {
    width: 100vw;
    height: 100vh;
    z-index: -1;

    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    filter: blur(150px);
}

@property --bg__blob-x {
    syntax: "<length> | <percentage>";
    inherits: false;
    initial-value: 25%;
}

@property --bg__blob-y {
    syntax: "<length> | <percentage>";
    inherits: false;
    initial-value: 25%;
}

@property --bg__blob-angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@keyframes background__float {
    from {
        /* --bg__blob-x: 60%;
        --bg__blob-y: -20% */
        --bg__blob-angle: 0deg;
    }
    to {
        /* --bg__blob-x: -30%;
        --bg__blob-y: 50%; */
        --bg__blob-angle: 360deg;
    }
}

#background__gradient1 {
    background-color: var(--hex__background1);
    position: absolute;
    overflow: hidden;
    top: var(--bg__blob-y);
    left: var(--bg__blob-x);
    width: 70vw;
    height: 70vw;
    border-radius: 50% 50%;
    will-change: transform; /* prevent pixel trail due to blurring on parent */
    transform-origin: -50% -50%;
    
    rotate: var(--bg__blob-angle);
    animation: background__float 60s linear infinite;
}

/* h1 {
    font-family: "Gendy Regular", Gendy Regular, Sans-Serif;
} */

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    width: var(--width__heading);
    margin: 2rem auto;
}

p {
    width: var(--width__readable-body);
    margin: 2rem auto;
    text-indent: 1.5rem;
    font-size: var(--font-size__p);
}

h1 {
    line-height: 100%;

    font-size: var(--font-size__h1);
}

h2 {
    font-size: var(--font-size__h2);
}

h3 {
    font-size: var(--font-size__h3);
}

h4 {
    font-size: var(--font-size__h4);
    font-weight: var(--font-weight__h4);
}

a {
    color: var(--hex__text);
    transition: 0.2s;
}

header {
    position: sticky;
    top: 1.25rem;
    z-index: 1;
}

@keyframes nav-bar__appear {
    from {
        /* background-color: var(--hex__background); */
        background-color: #ffffff00;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }
    to {
        background-color: var(--hex__overlay);
        backdrop-filter: blur(1rem);
        -webkit-backdrop-filter: blur(1rem);
    }
}

.nav-bar ul {
    animation: nav-bar__appear linear;
    animation-timeline: scroll();
    
    animation-range: 0 6rem;
    
    margin: 1rem auto;
    padding: 0.75rem 0.75rem;
    width: fit-content;
    height: fit-content;
    /* height: var(--height__nav-bar); */

    font-size: var(--font-size__p);
    list-style-type: none;

    background-color: var(--hex__overlay);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    border-radius: 2rem;

    overflow-y: hidden;
    overflow-x: scroll;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar li {
    margin: 0 0.7rem;
    padding: 0.5rem 1rem;
    transition-duration: 300ms;
    border-radius: 1.5rem;
}

.nav-bar li.active {
    opacity: 100%;
}

.nav-bar li.inactive {
    opacity: var(--opacity__inactive);
}

.nav-bar li a {
    display: inline-block;
    text-decoration: none;
    
}

.nav-bar a:link, a:visited {
    color: var(--hex__text);
}

.nav-bar li:hover {
    opacity: 100%;
    background-color: var(--hex__accent);
}

.nav-bar a:active {
    color: var(--hex__text);
}

div.heading {
    margin: 5rem auto;
}

.heading h1 {
    margin-top: 3.5rem;
    margin-bottom: 0;
}

.heading__profession {
    display: inline;
    margin-top: 0;
    margin-bottom: 1rem;
}

@keyframes caret {
    50% {
      border-color: transparent;
    }
}

div.heading__profession.wrapper {
    /* width: min(var(--width__readable-body), 30rem); */
    height: calc(var(--font-size__h4) * 1.4);
    width: fit-content;

    margin: 1rem auto;
    padding: 0 0.1rem;

    display: block;
    border-right: .1rem solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes heading__profession-type {

}

#profession {
    display: inline;
    height: inherit;
    width: fit-content;

    font-size: var(--font-size__h4);
    text-wrap: nowrap;
    white-space: nowrap;

    animation: heading__profession-type 0.08s infinite;
}

@keyframes scrolled-down {
    0% {

    }
}

@keyframes arrow-idle {
    0% {
        transform: translate(0, 0);
    }
    /* 35% {
        transform: translate(0, -1rem);
    } */
    50% {
        transform: translate(0, 1rem);
    }
    /* 85% {
        transform: translate(0, -1rem);
    } */
    100% {
        transform: translate(0, 0);
    }
}

#heading__scroll-down {
    display: block;
    visibility: visible;

    width: 5rem;
    margin: 2rem auto;

    color: var(--hex__text);

    transition: 0.7s;
    animation: arrow-idle 1.5s ease-in-out infinite;
}

section {
    margin: 2rem auto;
    opacity: 0;
    
    transform: translate(-5dvw);
    filter: blur(0.5rem);

    transition: 0.55s;
}

div.project.wrapper {
    --opacity__blob: 0;

    position: relative;

    width: var(--width__readable-body);
    margin: 2rem auto;
    padding: 2rem;

    background-color: var(--hex__overlay);
    border-radius: 2rem;
}

@media (width >= 992px)
{
    #container__past-projects {
        column-count: 2;
        width: fit-content;
        margin: 2rem auto;
        gap: 2rem;
    }

    div.project.wrapper {
        width: var(--width__half-column);
        margin: 2rem auto 0;
        break-inside: avoid;
    }

    div.project.wrapper:nth-child(1) {
        margin-top: 0;
    }
}

.project.title h3 {
    width: fit-content;
    margin: auto;
    text-align: center;
}

ul.chips {
    display: flex;
    user-select: none;
    justify-content: space-around;
    margin: auto 1rem;
    padding: 0;

    overflow-x: scroll;

    scrollbar-width: none;

    height: fit;
    list-style-type: none;
}

@media (width >= 576px) {
    div.project.title {
        display: flex;
        align-items: center;
    }

    .project.title h3 {
        width: 100%;
        margin: auto 0;
        padding-right: 1rem;
        text-align: right;
        justify-self: left;
        border-right: 0.1rem var(--hex__text) solid;
    }

    ul.chips {
        width: 100%;
        justify-content: left;
    }
}

ul.chips::-webkit-scrollbar {
    display: none;
}

li.chip {
    display: flex;
    
    margin: 0.25rem;
    padding: 0.5rem 1rem;
    
    align-items: center;
    background-color: var(--hex__overlay);
    border-radius: 1.25rem;
}

li.chip img {
    padding: 0;
    margin-right: 0;
    width: 1.5rem;
    height: 1.5rem;
}

li.chip p {
    display: none;
}

@media (width >= 350px) {
    li.chip {
        align-items: left;
    }

    li.chip p {
        display: inline;
        padding: 0;
        margin: 0 0 0 0.5rem;
        text-indent: 0;
    }
}

.project p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
}

div.project.image_gallery {
    display: flex;
    height: fit-content;

    overflow-x: scroll;
    gap: 0.5rem;

    scroll-snap-type: x mandatory;
}

.project.image_gallery > * {
    height: 100%;
    width: calc(var(--width__readable-body) * 0.9);
    object-fit: contain;

    scroll-snap-align: center;

    border-radius: 1.25rem;
}

@media (width >= 576px) {
    div.project.image_gallery {
        height: calc(var(--width__readable-body) / 2);
    }
}

@media (width >= 768px) {
    div.project.image_gallery {
        height: calc(var(--width__readable-body) / 3);
    }
}